body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif; */
    font-family: 'Inter', sans-serif;
    background-color: rgb(229, 229, 229);
}

.fxmenu li>ul {
    transform: translatex(100%) scale(0);
}

.fxmenu li:hover>ul {
    transform: translatex(101%) scale(1);
}

/* .fxmenu li>button svg {
    transform: rotate(-90deg);
}

.fxmenu li:hover>button svg {
    transform: rotate(-270deg);
} */